 .one{
        background-color: black;
        color: yellow;
        text-align: center;
        padding: 30px;

    }
    .two {
        background-color: silver;
        color: black;
        border: 5px solid black;
        margin: 20px;
        padding: 50px;
        text-align:center;   
    }